{% set softwareSectionLogo = 'fa-sitemap' %}

{% extends 'base.html.twig' %}

{% block title %}Add Domain{% endblock %}

{% block breadcrumbs %}
<li class="breadcrumb-item"><a href="{{ path('domain_index') }}">Domains</a></li>
<li class='breadcrumb-item active'>Add</li>
{% endblock %}

{% block body %}

    {{ include('domain/_form.html.twig') }}

{% endblock %}
