{% extends 'base.html.twig' %}

{% block title %}
Domain Queue Information
{% endblock %}

{% block body %}
The Domain Queue allows you to use your domain registrar's API to automatically import the details of your domains, such as expiry date and DNS servers, which are then added to your main DomainMOD database along with your domains. All you have to do is choose the registrar account, supply a list of domains, and the rest of the work is done for you. Depending on the registrar, you may not even have to supply the list of domains.<BR>
<BR>
If you use a registrar that isn't already supported, and they have an API, send us an email at <a href="mailto:suggestions@domainmod.org">suggestions@domainmod.org</a> and we'll see what we can do about adding it.<BR>
<BR>
<strong>Currently Supported Registrars</strong>: {{ apiRegistrars|join(', ') }}<BR>
<BR>
<strong>NOTE:</strong> In order to use the Domain Queue you must setup the cron job that comes with DomainMOD. For more information please see the <a target="_blank" href="https://domainmod.org/docs/userguide/getting-started/#cron-job">User Guide</a>.<BR>
<BR>
<a href="{{ path('queue_add') }}">{{ _self.showButton('button','Add Domains to Queue') }}</a>
<BR><BR>
{% endblock %}
