{% set softwareSectionLogo = 'fa-cubes' %}

{% extends 'base.html.twig' %}

{% block title %}Edit SSL Account{% endblock %}

{% block breadcrumbs %}
<li><a href="{{ path('asset') }}">Assets</a></li>
<li><a href="{{ path('ssl_account_index') }}">SSL Accounts</a></li>
<li class='active'>Edit</li>
{% endblock %}

{% block body %}
    {{ include('ssl_account/_form.html.twig', {'button_label': 'Update'}) }}

    {{ include('ssl_account/_delete_form.html.twig') }}
{% endblock %}
