{% extends 'base.html.twig' %}

{% block title %}New SslAccount{% endblock %}

{% block body %}
    <h1>Create new SslAccount</h1>

    {{ include('ssl_account/_form.html.twig') }}

    <a href="{{ path('ssl_account_index') }}">back to list</a>
{% endblock %}
