{% set softwareSectionLogo = 'fa-cubes' %}

{% extends 'base.html.twig' %}

{% block title %}New SSL Account{% endblock %}

{% block breadcrumbs %}
<li><a href="{{ path('asset') }}">Assets</a></li>
<li><a href="{{ path('ssl_account_index') }}">SSL Accounts</a></li>
<li class='active'>Add</li>
{% endblock %}

{% block body %}
    {{ include('ssl_account/_form.html.twig') }}
{% endblock %}
