{% set softwareSectionLogo = 'fa-gears' %}

{% extends 'base.html.twig' %}

{% block title %}
User Defaults
{% endblock %}

{% block breadcrumbs %}
<li class="breadcrumb-item"><a href="">Settings</a></li>
<li class='breadcrumb-item active'>User Default</li>
{% endblock %}

{% block body %}
<div class="row">
	<div class="col-lg-4">
		<div class="card">
			<div class="card-body">
				{{ include('settings/_defaults_form.html.twig') }}
			</div>
		</div>
	</div>
</div>
{% endblock %}
