{% extends 'base.html.twig' %}

{% block title %}Edit Domain{% endblock %}

{% block breadcrumbs %}
<li class="breadcrumb-item"><a href="{{ path('domain_index') }}">Domains</a></li>
<li class='breadcrumb-item active'>Edit</li>
{% endblock %}

{% block body %}
<strong>Domain</strong><br>
{{ domain.domain|e('html') }}<br><br>
    {{ include('domain/_form.html.twig', {'button_label': 'Save'}) }}

    {{ include('domain/_delete_form.html.twig') }}
    
{% endblock %}

{% block javascripts %}
{% endblock %}