{% extends 'base.html.twig' %}

{% block title %}
Add Segment
{% endblock %}

{% block body %}

{% endblock %}

{% block javascripts %}

{% endblock %}

{% block breadcrumbs %}
<li><a href="{{ path('segment') }}">Segments</a></li>
<li class="active">Add</li>
{% endblock %}