{% set softwareSectionLogo = 'fa-wrench' %}

{% extends 'base.html.twig' %}

{% block title %}System Defaults{% endblock %}

{% block breadcrumbs %}
<li><a href="{{ path('admin_index') }}">Admin</a></li>
<li class='active'>Systems Defaults</li>
{% endblock %}

{% block body %}

    {{ include('admin/defaults_form.html.twig') }}

{% endblock %}
