{% set softwareSectionLogo = 'fa-wrench' %}

{% extends 'base.html.twig' %}

{% block title %}System Administration{% endblock %}

{% block breadcrumbs %}
<li class='active'>Administration</li>
{% endblock %}

{% block body %}
<a href="{{ path('admin_settings') }}">System Settings</a><BR><BR>
<a href="{{ path('admin_defaults') }}">System Defaults</a><BR><BR>
<a href="">Users</a><BR><BR>
<a href="">Custom Domain Fields</a><BR><BR>
<a href="">Custom SSL Fields</a><BR><BR>
<a href="">Task Scheduler</a><BR><BR>
<a href="">Maintenance</a><BR><BR>
<a href="">Backup & Restore</a><BR><BR>
<a href="">Debug Log</a><BR><BR>
<a href="">System Information</a><BR>
{% endblock %}
