{% extends 'base.html.twig' %}

{% block title %}Edit Web Host{% endblock %}

{% block breadcrumbs %}
<li><a href="{{ path('asset') }}">Assets</a></li>
<li><a href="{{ path('hosting_index') }}">Web Hosts</a></li>
<li>Edit</li>
{% endblock %}

{% block body %}
    {{ include('hosting/_form.html.twig', {'button_label': 'Save'}) }}

    {{ include('hosting/_delete_form.html.twig') }}
{% endblock %}
