{% set softwareSectionLogo = 'fa-cubes' %}

{% extends 'base.html.twig' %}

{% block title %}Add Web Host{% endblock %}

{% block breadcrumbs %}
<li><a href="{{ path('asset') }}">Assets</a></li>
<li><a href="{{ path('hosting_index') }}">Web Hosts</a></li>
<li>Add</li>
{% endblock %}

{% block body %}
    {{ include('hosting/_form.html.twig') }}
{% endblock %}
