{% set softwareSectionLogo = 'fa-gears' %}

{% extends 'base.html.twig' %}

{% block title %}User Defaults{% endblock %}

{% block breadcrumbs %}
<li><a href="{{ path('settings_index') }}">Settings</a></li>
<li class='active'>User Defaults</li>
{% endblock %}

{% block body %}
    {{ include('settings/_defaults_form.html.twig') }}
{% endblock %}
