{% set softwareSectionLogo = 'fa-gears' %}

{% extends 'base.html.twig' %}

{% block title %}Display Settings{% endblock %}

{% block breadcrumbs %}
<li><a href="">Settings</a></li>
<li class='active'>Display Settings</li>
{% endblock %}

{% block body %}
    {{ include('settings/_display_form.html.twig') }}
{% endblock %}
