{% extends 'base.html.twig' %}

{% block title %}Settings{% endblock %}

{% block page_content %}
<a href="{{ path('settings_display') }}">Display Settings</a><BR><BR>
<a href="{{ path('settings_defaults') }}">User Defaults</a><BR><BR>
<a href="{{ path('settings_profile') }}">User Profile</a><BR><BR>
<a href="{{ path('settings_password') }}">Change Password</a><BR>
{% endblock %}
