{{ form_start(form) }}
    {{ form_widget(form) }}
    <button style="margin-top:5px" class="btn btn-primary btn-danger">{{ button_label|default('Add Domain Registrar') }}</button>
{{ form_end(form) }}
