{% set softwareSectionLogo = 'fa-cubes' %}

{% extends 'base.html.twig' %}

{% block title %}Add Domain Registrar{% endblock %}

{% block breadcrumbs %}
<li><a href="{{ path('asset') }}">Assets</a></li>
<li><a href="{{ path('registrar_index') }}">Registrars</a></li>
<li class='active'>Add</li>
{% endblock %}

{% block body %}
    {{ include('registrar/_form.html.twig') }}
{% endblock %}
