{% extends 'base.html.twig' %}

{% block title %}Edit SSL Certificate{% endblock %}

{% block breadcrumbs %}
<li class="breadcrumb-item"><a href="{{ path('ssl_cert_index') }}">SSL Certs</a></li>
<li class='breadcrumb-item active'>Edit</li>
{% endblock %}

{% block body %}
    {{ include('ssl_cert/_form.html.twig', {'button_label': 'Save'}) }}

    {{ include('ssl_cert/_delete_form.html.twig') }}
{% endblock %}
