{% set softwareSectionLogo = 'fa-lock' %}

{% extends 'base.html.twig' %}

{% block title %}Add SSL Certificate{% endblock %}

{% block breadcrumbs %}
<li class="breadcrumb-item"><a href="{{ path('ssl_cert_index') }}">SSL Certs</a></li>
<li class='breadcrumb-item active'>Add</li>
{% endblock %}

{% block body %}
    {{ include('ssl_cert/_form.html.twig') }}
{% endblock %}
