{% set softwareSectionLogo = 'fa-cubes' %}

{% extends 'base.html.twig' %}

{% block title %}Add SSL Provider{% endblock %}

{% block breadcrumbs %}
<li><a href="{{ path('asset') }}">Assets</a></li>
<li><a href="{{ path('ssl_provider_index') }}">SSL Providers</a></li>
<li class='active'>Add</li>
{% endblock %}

{% block body %}

    {{ include('ssl_provider/_form.html.twig') }}

{% endblock %}
