{% set softwareSectionLogo = 'fa-cubes' %}

{% extends 'base.html.twig' %}

{% block title %}New SSL Certificate Type{% endblock %}

{% block breadcrumbs %}
<li><a href="{{ path('asset') }}">Assets</a></li>
<li><a href="{{ path('ssl_cert_type_index') }}">SSL Types</a></li>
<li class='active'>Add</li>
{% endblock %}

{% block body %}
    {{ include('ssl_cert_type/_form.html.twig') }}
{% endblock %}
