{% set softwareSectionLogo = 'fa-cubes' %}

{% extends 'base.html.twig' %}

{% block title %}Add IP Address{% endblock %}

{% block breadcrumbs %}
<li><a href="{{ path('asset') }}">Assets</a></li>
<li><a href="{{ path('ip_address_index') }}">IPs</a></li>
<li class='active'>New</li>
{% endblock %}

{% block body %}

    {{ include('ip_address/_form.html.twig') }}

{% endblock %}
